@charset "UTF-8";

/* --- ICONS --- */
[data-icon]:before {
	font-family: "everlightbox-icons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="ev-icon-"]:before,
[class*=" ev-icon-"]:before {
	font-family: "everlightbox-icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ev-icon-facebook:before {
	content: "\61";
}

.ev-icon-twitter:before {
	content: "\62";
}

.ev-icon-pinterest:before {
	content: "\63";
}

.ev-icon-houzz:before {
	content: "\64";
}

.ev-icon-gplus:before {
	content: "\65";
}

.ev-icon-cancel:before {
	content: "\66";
}

.ev-icon-right-open-big:before {
	content: "\67";
}

.ev-icon-left-open-big:before {
	content: "\68";
}
.ev-icon-tumblr:before {
	content: "\69";
}
.ev-icon-install:before {
	content: "\6a";
}
.ev-icon-commenting-o:before {
  content: "\6b";
}
.ev-icon-resize-full:before {
  content: "\6d";
}
.ev-icon-resize-small:before {
	content: "\6e";
}

html.everlightbox-html.everlightbox-touch {
	overflow: hidden !important;
}
/* --- END ICONS --- */

/* --- STRUCTURE --- */
#everlightbox-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999 !important;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#everlightbox-container {
	position: relative;
	width: 100%;
	height: 100%;
}

#everlightbox-slider {
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	white-space: nowrap;
	position: absolute;
	display: none;
	cursor: pointer;
}
#everlightbox-slider .slide {
	height: 100%;
	width: 100%;
	line-height: 1px;
	text-align: center;
	display: inline-block;
	position: relative;
}
#everlightbox-slider .slide:before {
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right: -1px;
}
#everlightbox-slider .everlightbox-backstage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
#everlightbox-overlay #everlightbox-slider .slide .everlightbox-glass {
    position: absolute;
	-webkit-box-shadow: inset hoff voff blur color;
	-moz-box-shadow: inset hoff voff blur color;
	box-shadow: 0 0 50px #151515;
}
#everlightbox-overlay.buttons-edges #everlightbox-slider .slide .everlightbox-glass {
    position: static;
    height: 0 !important;
}
#everlightbox-slider .slide .everlightbox-top-bar,
#everlightbox-slider .slide .everlightbox-bottom-bar {
	position: absolute;
	top:10px;
	left: 0;
	right: 0;
	z-index: 10;
}
#everlightbox-slider .slide .everlightbox-bottom-bar {
	top: auto;
	bottom: 10px;
}
#everlightbox-slider .slide .everlightbox-top-bar .everlightbox-right-side {
	position: absolute;
	right:10px;
	top:0;
	text-align: right;
}
#everlightbox-slider .slide .everlightbox-top-bar .everlightbox-right-side a,
#everlightbox-slider .slide .everlightbox-top-bar .everlightbox-left-side a {
	text-align: center;
}
#everlightbox-slider .slide .everlightbox-top-bar .everlightbox-left-side {
	position: absolute;
	left:10px;
	top:0;
	text-align: left;
}
/* --- END STRUCTURE --- */

/* --- BUTTONS --- */
/* no mobile */
#everlightbox-overlay.everlightbox-no-mobile #everlightbox-slider .slide .everlightbox-glass .everlightbox-top-bar,
#everlightbox-overlay.everlightbox-no-mobile #everlightbox-slider .slide .everlightbox-glass .everlightbox-bottom-bar {
	opacity: 0;	
}
#everlightbox-overlay.everlightbox-no-mobile #everlightbox-slider .slide .everlightbox-glass:hover .everlightbox-top-bar,
#everlightbox-overlay.everlightbox-no-mobile #everlightbox-slider .slide .everlightbox-glass:hover .everlightbox-bottom-bar,
#everlightbox-overlay.everlightbox-no-mobile.sticky-buttons #everlightbox-slider .slide .everlightbox-glass .everlightbox-top-bar,
#everlightbox-overlay.everlightbox-no-mobile.sticky-buttons #everlightbox-slider .slide .everlightbox-glass .everlightbox-bottom-bar {
	opacity: 1;
}
/* end no mobile */

#everlightbox-slider .slide .everlightbox-social {
	text-align: center;
	position: absolute;
	z-index: 10;
}
#everlightbox-slider .slide .everlightbox-button {
	display: inline-block;
	text-decoration: none;
	color:#fff;
	width: auto;
	height: auto;
	padding: 4px;
	line-height: 1;
	background: rgba(0, 0, 0, .5);
	margin-bottom: 1px;
	transition:background .2s, top .2s, opacity .2s, color .2s;
	font-size: 15px;
	cursor: pointer; 
	border-radius: 4px;
	position: relative;
	top:0;	
	border-size: border-box;
	float: none;
}
#everlightbox-slider .everlightbox-button i {
	padding: 4px 4px 2px 4px;
	display: block;
}
/* buttons without background */
#everlightbox-overlay.buttons-no-bg #everlightbox-slider .everlightbox-comments,
#everlightbox-overlay.buttons-no-bg #everlightbox-slider .slide .everlightbox-button {
	background: transparent;
}
#everlightbox-overlay.buttons-no-bg #everlightbox-slider .everlightbox-fullscreen:hover,
#everlightbox-overlay.buttons-no-bg #everlightbox-slider .everlightbox-comments.everlightbox-comments-active,
#everlightbox-overlay.buttons-no-bg #everlightbox-slider .everlightbox-comments:hover,
#everlightbox-overlay.buttons-no-bg #everlightbox-slider .everlightbox-close:hover {
	color:#ccc;
	top:-2px;
}
/* end buttons without background */

#everlightbox-slider .everlightbox-comment-count {
	color:#fff;
	position:relative;
	top:-1px;
    display: inline-block;
    line-height:1;
    margin-left: 6px;
}
#everlightbox-slider .slide .everlightbox-social {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
#everlightbox-slider .slide .everlightbox-social .everlightbox-button {
	display: inline-block;
	margin-right: 4px;
	box-sizing: border-box;
	padding: 4px;
}
#everlightbox-slider .slide .everlightbox-social .everlightbox-button.last-element {
	margin-right: 0;
}

#everlightbox-slider .everlightbox-fullscreen,
#everlightbox-slider .everlightbox-comments,
#everlightbox-slider .everlightbox-close {
	font-size: 24px;
    line-height: 1;
}
#everlightbox-slider .everlightbox-fullscreen:hover,
#everlightbox-slider .everlightbox-comments.everlightbox-comments-active,
#everlightbox-slider .everlightbox-comments:hover,
#everlightbox-slider .everlightbox-close:hover {
	background: #fff;
	color:#000;
	border-bottom: 0;
}
#everlightbox-slider .slide .everlightbox-social a:hover {
	background: #000;
}
#everlightbox-slider .slide .everlightbox-social .everlightbox-facebook:hover { background: #3b5998; }
#everlightbox-slider .slide .everlightbox-social .everlightbox-twitter:hover { background: #55acee; }
#everlightbox-slider .slide .everlightbox-social .everlightbox-pinterest:hover { background: #cb2027; }
#everlightbox-slider .slide .everlightbox-social .everlightbox-houzz:hover { background: #55a32a; }
#everlightbox-slider .slide .everlightbox-social .everlightbox-googleplus:hover { background: #dd4b39; }
#everlightbox-slider .slide .everlightbox-social .everlightbox-tumblr:hover { background: #32506d; }

#everlightbox-slider .slide img,
#everlightbox-slider .slide .everlightbox-video-container,
#everlightbox-slider .slide .everlightbox-inline-container {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	vertical-align: middle;
	z-index: 999;
	position: relative;
}
#everlightbox-slider .slide .everlightbox-video-container {
	background: none;
	max-width: 1140px;
	max-height: 100%;
	width: 100%;
	padding: 5%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#everlightbox-slider .slide .everlightbox-video-container .everlightbox-video {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
}
#everlightbox-slider .slide .everlightbox-video-container .everlightbox-video iframe {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	left: 0;
}
#everlightbox-slider .slide-loading {
	background: url(../img/loader.svg) no-repeat center center;
}
#everlightbox-slider .everlightbox-top-bar .fb-comments {
	background: #fff;
	position: absolute;
	top:40px;
	left:10px;
}
#everlightbox-slider .slide .everlightbox-social .fb-like {
	display: inline-block;
	background: transparent;
	line-height: 0;
	padding-top: 0;
	width: 54px;
}
#everlightbox-slider .slide .everlightbox-social .fb-like:hover {
	background: none;
}
#everlightbox-slider .slide .everlightbox-social .fb-like span {
	vertical-align: baseline !important;
	top: 3px;
}
#everlightbox-title {
	display: block;
	width: 100%;
	text-align: center;
}

#everlightbox-prev,
#everlightbox-next {
	border: none !important;
	text-decoration: none !important;
	cursor: pointer;
	width: 50px;
	height: 50px;
	top:50%;
	position: absolute;
}

#everlightbox-prev i,
#everlightbox-next i {
	color: #fff;
	font-size: 34px;
}

#everlightbox-prev {
	left:25px;
	text-align: left;
}

#everlightbox-next {
	right:25px;
	text-align: right;
}

#everlightbox-prev.disabled,
#everlightbox-next.disabled {
	opacity: 0.3;
}

#everlightbox-slider .everlightbox-fullscreen,
#everlightbox-slider .everlightbox-close {
	display: inline-block;
	margin-left: 10px;
}
#everlightbox-slider .everlightbox-close {
	right:0;
}
#everlightbox-slider .everlightbox-fullscreen .ev-icon-resize-small {
	display: none;
}
#everlightbox-slider .everlightbox-fullscreen.on .ev-icon-resize-small {
	display: inline-block;
}
#everlightbox-slider .everlightbox-fullscreen.on .ev-icon-resize-full {
	display: none;
}
.everlightbox-no-close-button #everlightbox-slider .everlightbox-close {
	display: none;
}
#everlightbox-slider .everlightbox-top-bar .fb-comments {
	width:320px;
	height: auto;
}
#everlightbox-slider .slide .everlightbox-caption {
	position: absolute;
	background:transparent;
	color: #fff;
	font-style: italic;
	margin-bottom: 0;
	margin-top: 0; 
	top: 0;
	left: 100px;
	right: 100px;
}
#everlightbox-slider .slide .everlightbox-caption span {
	background: rgba(0, 0, 0, .5);
	display: inline-block;
	padding: 5px 10px;
	border-radius: 4px;
	white-space: normal;
	line-height: 1.5;
}
.everlightbox-no-touch #everlightbox-overlay.rightSpring #everlightbox-slider {
	-webkit-animation: rightSpring 0.3s;
	animation: rightSpring 0.3s;
}
.everlightbox-no-touch #everlightbox-overlay.leftSpring #everlightbox-slider {
	-webkit-animation: leftSpring 0.3s;
	animation: leftSpring 0.3s;
}

.everlightbox-touch #everlightbox-container:before, .everlightbox-touch #everlightbox-container:after {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	content: ' ';
	position: absolute;
	z-index: 999;
	top: 0;
	height: 100%;
	width: 20px;
	opacity: 0;
}
.everlightbox-touch #everlightbox-container:before {
	left: 0;
	-webkit-box-shadow: inset 10px 0px 10px -8px #656565;
	box-shadow: inset 10px 0px 10px -8px #656565;
}
.everlightbox-touch #everlightbox-container:after {
	right: 0;
	-webkit-box-shadow: inset -10px 0px 10px -8px #656565;
	box-shadow: inset -10px 0px 10px -8px #656565;
}
.everlightbox-touch #everlightbox-overlay.leftSpringTouch #everlightbox-container:before {
	opacity: 1;
}
.everlightbox-touch #everlightbox-overlay.rightSpringTouch #everlightbox-container:after {
	opacity: 1;
}

@-webkit-keyframes rightSpring {
	0% {
		left: 0;
	}

	50% {
		left: -30px;
	}

	100% {
		left: 0;
	}
}

@keyframes rightSpring {
	0% {
		left: 0;
	}

	50% {
		left: -30px;
	}

	100% {
		left: 0;
	}
}
@-webkit-keyframes leftSpring {
	0% {
		left: 0;
	}

	50% {
		left: 30px;
	}

	100% {
		left: 0;
	}
}
@keyframes leftSpring {
	0% {
		left: 0;
	}

	50% {
		left: 30px;
	}

	100% {
		left: 0;
	}
}
@media screen and (min-width: 800px) {
	.everlightbox-close {
		right: 10px;
	}

	#everlightbox-arrows {
		width: 92%;
		max-width: 800px;
	}
}
/* Skin
--------------------------*/
#everlightbox-overlay {
	background-color: rgba(0, 0, 0, .8);
}


/* THEMES */

/* WHITE SPLASH */
#everlightbox-overlay.everlightbox-theme-white-splash {
	background-color: rgba(255, 255, 255, .8);
}
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide img, 
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide .everlightbox-video-container, 
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide .everlightbox-inline-container {
	box-shadow: 0 0 50px #666;
}
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide .everlightbox-caption span,
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .everlightbox-comments, 
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .everlightbox-close, 
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide .everlightbox-social a {
	background: rgba(255,255,255, .5);
	color:#000;
}
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .everlightbox-comments:hover, 
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .everlightbox-close:hover {
	background: rgba(255,255,255, 1);
}
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-prev i, 
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-next i {
	color: #000;
}
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide .everlightbox-social .everlightbox-facebook:hover { background: #3b5998; }
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide .everlightbox-social .everlightbox-twitter:hover { background: #55acee; }
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide .everlightbox-social .everlightbox-pinterest:hover { background: #cb2027; }
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide .everlightbox-social .everlightbox-houzz:hover { background: #55a32a; }
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide .everlightbox-social .everlightbox-googleplus:hover { background: #dd4b39; }
#everlightbox-overlay.everlightbox-theme-white-splash #everlightbox-slider .slide .everlightbox-social .everlightbox-tumblr:hover { background: #32506d; }